@import 'variables';

$primary-color: #00558b;
$flex-grow-size: 1.5;

#master-navigation{
  list-style-type: none;
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: 100%;

  li{
    flex: 1 0 0;
    display: flex;
    align-items: stretch;
    border-right: 1px solid #fff;
    height: $master-navigation-height;
    animation: navigation-item-shrink-in-width $animation-duration;

    &:last-child{
      border-right: none;
    }

    &.js-active{
      animation: navigation-item-grow-in-width $animation-duration;
      flex-grow: $flex-grow-size;

      a{
        background-color: darken($primary-color, 10%);
        padding-top: 0.2rem;

        i{
          font-size: 10vmin;
        }
        span{
          font-size: 3vmin;
        }
      }
    }

    a{
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      flex: 1 0 0;
      padding: 1rem;
      font-size: 2rem;
      color: #fff;
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
      background-color: $primary-color;
      transition: padding $animation-duration;

      i{
        transition: font-size $animation-duration;
        font-size: 6vmin;
      }

      span{
        transition: font-size $animation-duration;
        font-size: 4vmin;
      }
    }
  }
}

@keyframes navigation-item-grow-in-width{
  0%{
    flex-grow: 1;
  }
  100%{
    flex-grow: $flex-grow-size;
  }
}

@keyframes navigation-item-shrink-in-width{
  0%{
    flex-grow: $flex-grow-size;
  }
  100%{
    flex-grow: 1;
  }
}
